# Python
__pycache__/
*.py[cod]
*$py.class
*.pkl
*.pyc

# Env
.env
.env.local

# Node
node_modules/
dist/

# Dataset (except deploy.csv for production)
dataset/
!dataset/deploy.csv

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db
